@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/* navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'ubuntu',sans-serif; 
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background: crimson;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
}
.navbar .menu li a{
    display: block;
    color:#fff;
    font-size: 18px;
    font-weight: 450;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover{
    color:crimson;
}
.navbar.sticky .menu li a:hover{
    color: #fff;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}

/* menu btn styling*/
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

/* scroll up btn styling*/
.scroll-up-btn{
    position: fixed;
    height: 40px;
    width: 40px;
    background: crimson;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    z-index: 9999;
    font-size: 25px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}


/* home section styling */
.home{
    display: flex;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/wallpaper2.jpg") no-repeat center;
    background-position: center;
    background-size: cover;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    font-family: 'ubuntu',sans-serif;
}

.home .max-width{
    text-align: center;
}
.home .home-content .text-1{
    font-size: 80px;
    text-align: center;
}
.home .home-content .text-2{
    font-size: 25px;
    text-align: center;
}

/*  all similar styling code  */
section{
    padding: 100px 0;
}
.about, .projects, .teams, .contact , footer{
    font-family: 'Poppins',sans-serif;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'ubuntu',sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 5px;
    background: #fff;
    transform: translateX(-50%);
}

/* About section styling */

.about .title::after{
    content: "who we are";
}
.about .about-content, .projects .projects-content, .contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 10px;
}
.about .about-content .right{
    width: 50%;
}
.about .about-content .right .text{

    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color: crimson;
}
.about .about-content .right p{
    text-align: justify;
}
.about .about-content .right p span{
    font-weight: 650 ;

}
.about .about-content .right a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 4px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    color: crimson;
    background: none;
}


/* projects styling section*/
.projects, .contact{
    color: #fff;
    background: #111;
}
.projects .title::before{
    background: #fff;
}
.projects .title::after{
    background: #111;
    content: "works";
}
.projects .projects-content{
    padding-top: 20px;
}
.projects .projects-content .card{
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.projects .projects-content .card i{
    font-size: 50px;
    color: crimson;
}
.projects .projects-content .card .text{
    font-size: 28px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.projects .projects-content .card:hover i{
    color: #fff;
}
.projects .projects-content .card:hover{
    background: crimson;
}
.projects .projects-content .card .box{
    transition: all 0.3s ease;
}
.projects .projects-content .card:hover .box{
    transform: scale(1.05);

}


/* teams styling section */

.teams .title::after{
    content: "members";
}

.teams .carousel .card{
    background: #222;
    color: #fff;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    transition: all 0.3s ease;
}
.teams .carousel .card:hover{
    background: crimson;
}
.teams .carousel .card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
} 
.teams .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.teams .carousel .card:hover .box{
    transform: scale(1.05);
}
.teams .carousel .card a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 0px 25px;
    margin-top: 20px;
    border-radius: 4px;
    border: 2px solid #fff;
    transition: all 0.3s ease;
}
.teams .carousel .card:hover a{
    color: #fff;
    background: #222;
}
.teams .carousel .card p{
    font-size: 17px;
}
.teams .carousel .card .text{
    color: crimson;
    font-size: 28px;
    font-weight: 800;
    margin: 10px 0 7px 0;
}
.teams .carousel .card:hover .text{
    color: #fff;
}
.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid #111!important;
    transition: all 0.3s ease;
}
.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover{
    background: #111!important;
}

/* contact styling start */

.contact .title::before{
    background: #fff;
}

.contact .title::after{
    background: #111;
    content: "get in touch";
}
.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    color: crimson;
}
.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    text-align: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
    margin-top: 10px;
    font-size: 25px;
    color: crimson;
}
.contact .contact-content .info .head{
    font-weight: 800;
    text-align: justify;
    color: #fff;
}
.contact .contact-content .info .sub-title{
    color: #fff;
}
.contact .right form .fields{
    display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
    height:45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins',sans-serif;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .email{
    margin-left: 10px;
}
.contact .right form .textarea{
    height: 80px;
    width: 100%;
}
.contact .right form .textarea textarea{
    padding-top: 10px ;
    resize: none;
}
.contact .right form .button{
    height: 47px;
    width: 170px;
}
.contact .right form .button button{
    width: 100%;
    height: 100%;
    border: 2px solid crimson;
    background: crimson;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    
}
.contact .right form .button button:hover{
    color: crimson;
    background: none;

}

/*  footer section styling  */
footer{
    background: #111;
    padding: 20px 23px;
    color: #fff;
    text-align: center;
}
footer span a{
    color: crimson;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}
footer span .fa-heart{
    color: crimson;
}



/* responsive media query start*/
@media (max-width: 1300px) {
    .home .max-width{
        margin-left: 0px;
    }
}

@media (max-width: 1104px) {
    .home .home-content .text-1{
        font-size: 70px;
    }
    .home .home-content .text-2{
        font-size: 20px;
    }
    .about .about-content .left img{
        height: 350 ;
        width: 450;
    }
    .about .about-content .column{
        width: 39%;
    }

}


@media(max-width: 991px){
    .max-width{
        padding: 0 50px;
    } 
    .home .home-content .text-1{
        font-size: 70px;
    }
    .home .home-content .text-2{
        font-size: 20px;
    }
    .about .about-content .column{
        width: 38%;
    }

}


@media(max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block ;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-1{
        font-size: 70px;
    }
    .home .home-content .text-2{
        font-size: 20px;
    }
    .about .about-content .column{
        width: 50%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .projects .projects-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }

}

@media(max-width: 700px){
    .home .home-content .text-1{
        font-size: 60px;
    }
    .home .home-content .text-2{
        font-size: 18px;
    }
    .about .about-content .column{
        width: 35%;
    }
    .projects .projects-content .card{
        width: 100%;
    }


}
@media(max-width: 600px){
    .home .home-content .text-1{
        font-size: 55px;
    }
    .home .home-content .text-2{
        font-size: 17px;
    }
    .about .about-content .column{
        width: 35%;
    }

}
@media(max-width: 500px){
    .home .home-content .text-1{
        font-size: 50px;
    }
    .home .home-content .text-2{
        font-size: 16px;
    }
}

